/* SITE FONTS */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serif Display';
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* CUSTOM PROPERTY */
:root {
    /* FONTS */
    --serif-font: "Serif Display", "Georgia", serif;
    --jost-font: "Jost", "Arial", sans-serif;
    /* COLOR */
    --primary-color: #cda274;
    --secondary-color: #292f36;
    --white-color: #fff;
    --text-color: #4d5053;
    /* BACKROUND COLOR */
    --grey-bg-color: #f4f0ec;
    --white-bg-color: #fff;
    --blue-bg-color: #292f36;
}
/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: 2px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
ul {
    list-style: none;
}
h1 {
    margin: 0;
}
html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--jost-font);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--text-color);
    background-color: var(--white-bg-color);
}
.container {
    width: 100%;
    max-width: 1240px;
    padding: 0px 2rem;
    margin: 0px auto;
}
/* HEADER STYLES */
.header {
    padding: 2.8rem 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    display: flex;
}
.site-logo:hover {
    opacity: 0.8;
}
.site-logo__img {
    width: 177px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.sitenav__list {
    display: flex;
    align-items: center;
}
.sitenav__item:not(:last-child) {
    margin-right: 4rem;
}
.sitenav__link {
    position: relative;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--secondary-color);
    transition: width 0.3s linear ;
}
.sitenav__link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -6px;
    left: 50%;
    transition: width 0.2s linear;
}
.sitenav__link:hover::after   {
    width: 50%;
    color: var(--primary-color);
}
.sitenav__link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -6px;
    right: 50%;
    transition: width 0.2s linear;
}
.sitenav__link:hover::before   {
    width: 50%;
    color: var(--primary-color);
}
.sitenav__link:hover {
    color: var(--primary-color);
}
.bars-btn {
    display: none;
}
.bars-btn__img {
    width: 30px;
    height: 30px;
}
.toggle {
    transform: translateX(0%);
    transition: all 0.6s ease;
}
.remove {
    transform: translateX(-100%);
    transition: all 0.6s ease;
}
.right-nav {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c69460;
    padding: 2rem;
}
.right-nav ul {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-nav .sitenav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
}
.right-nav a {
    font-size: 2rem;
}
.right-nav a:active {
    color: var(--white-color);
}
.right-nav a:hover {
    color: var(--white-color);
}
.right-nav-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* MAIN STYLES */
.main {
    flex-grow: 1;
}
/* INTERIOR */
.interior {
    background-image: url(../images/png/interior-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.interior__container {
    padding: 19.5rem 2rem ;
}
.interior__wrapper {
    width: 100%;
    max-width: 600px;
}
.interior__title {
    font-family: var(--serif-font);
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.2;
    letter-spacing: 0.002em;
    color: var(--secondary-color);
    margin-bottom: 1.9rem;
}
.interior__text {
    letter-spacing: 0.01em;
    margin-bottom: 3.5rem;
}
.site-btn {
    width: 207px;
    height: 71px;
    display: inline-block;
    border: 2px solid  var(--secondary-color);
    border-radius: 1.8rem;
    padding: 22px 22px;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.site-btn:hover {
    background-color: transparent;
}
.site-btn:hover .site-btn__text {
    color: var(--secondary-color);
}
.site-btn__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    margin-right: 21px;
    color: var(--white-color);
}
.site-btn__text:hover {
    color: var(--secondary-color);
}

.site-btn:hover .site-btn__icon {
    animation: arrowAnimation  2s linear;
}
.site-btn:active {
    opacity: 0.6;
}
.interior-btn {
    display: flex;
}
.site-btn__icon {
    width: 33px;
    height: 23px;
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(5px);
    }
    20% {
        transform: translateX(-2px);
    }
    30% {
        transform: translateX(3px);
    }
    40% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX();
    }
}


/* INFORMATION STYLES */
.information {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 7.5rem 4.2rem 7rem;

}
.information__list {
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.information__item {
    width: 100%;
    max-width: 297px;
}
.information__item:first-child{
    width: 100%;
    max-width: 317px;
}
.information__title {
    margin-bottom: 1.7rem;
    letter-spacing: 0.008em;

}
.information__item:not(:last-child){
    margin-right: 2rem;
}
.information__text {
    margin-bottom: 3.5rem;
    
}
.information__item:first-child .information__text{
    margin-bottom: 6.8rem;
}
.information__link {
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}
.information__link span{
    margin-right: 0.8rem;
}
.information__link img{
    width: 24px;
    height: 17px;
    object-fit: contain;
    object-position: center;
}
.information__link:hover img{
    animation:arrowAnimation 2s linear;
}



/* INFORMATION STYLES END */




/* CALL SECTION STYLES  */
.call{
    margin-bottom: 14rem;

}
.call__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.call__text-wrapper {
    width: 100%;
    max-width: 530px;


}
.call__title {
    width: 100%;
    max-width: 455px;
    color: var(--secondary-color);
    margin-bottom: 4.2rem;
    font-family: var(--serif-font);
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.3;

}
.call__text:nth-child(3) {
    width: 100%;
    max-width: 490px;
    margin-bottom: 40px;

}
.call__phone {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

}
.call__phone-link {
    width: 93px;
    height: 93px;
    background-color:var(--grey-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 2rem;

}
.call__phone-number {
    display: flex;
    flex-direction: column;

}
.call__phone-number span:first-child{
    font-size: 2.4rem;
    line-height: 1.5;
    
}
.call__img{
    width: 592px;
    height: 635px;
    object-fit: contain;
    object-position: center;
}
/* bars-btn end */



/* RESPONSIVE */
@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1095px){
    .information__list{
        flex-wrap: wrap;
    }
    .information__item:last-child{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    .information__item:not(:last-child){
        margin-right: 0;
    }
    .information__item:first-child{
        margin-right: 2rem;
    }
    .information__item:first-child .information__text{
        margin-bottom: 3.5rem;
    }
    .call__container{
        flex-direction: column-reverse;
        text-align: center;

    }
    .call__title{
        max-width: 100%;
    }
    .call__text{
        width: 100%;
        max-width: 100%;

    }
    .call__text:nth-child(3){
        max-width: 100%;
    }
    .call__phone{
        justify-content: center;
    }
    .call__img{
        margin-bottom: 2rem;
    }

}


@media only screen and (max-width:992px){
    .hero__text{
        text-shadow: 0px 0px 3px #fff;
    }
}
@media only screen and (max-width:776px){
    .information__list{
        flex-direction: column;
        align-items: center;
    }
    .information__item{
        width: 100%;
        max-width: 600px;
    }
    .information__item:first-child{
        margin-right: 0;
        width: 100%;
        max-width: 600px;
    }
    .information__item:last-child{
        margin: 0;
    }
    .information__item:not(:first-child){
        margin-top: 3rem;
    }
    .information__text{
        margin-bottom: 2rem;
    }
    .information__item:first-child .information__text{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width:768px){
    .sitenav{
        display: none;
    }
    .bars-btn{
        display: block;
    }
    .hero__title{
        font-size: 6.9rem;
    }
    .hero__text{
        font-size: 2rem;
        
    }
    .call__img{
        width: 100%;
        height: auto;
    }

    /* NAVBAR STYLES */

    .sitenav__item:not(:last-child){
        margin-right: 0;
    }
    .sitenav__link{
        text-transform: uppercase;
    }
    .sitenav__item:not(:last-child){
        margin-bottom: 1.2rem;
    }
    .sitenav__item{
        transition: transform ease 1.3s;
    }
    .sitenav__item:hover{
        transform: scale(1.2);
        color: red;
    }

}


@media only screen and (max-width:576px) {
    .hero__text{
        max-width: 400px;
        font-size: 1.9rem;
    }
    .hero{
        padding: 14rem 0 20rem;
    }
    .hero__title{
        font-size: 5.5rem;
    }
    .right-nav{
        width: 100vw;
        height: 100vh;
    }
    .information{
        padding:0;
    }
    .call__title{
        font-size: 3.5rem;
    }
    .call__text{
        font-size: 2rem;
    }
    .call{
        margin-bottom: 8rem;
    }
}


@media only screen and (max-width:480px){
    .hero__btn{
        padding:1.2rem 1.4rem 1.2rem 3rem ;
    }
    html{
        font-size: 55%;
    }
    .site-logo__img{
        width: 150px;
        height: 40px;
    }
    .hero__title{
        font-size: 5rem;
        text-align: center;
    }
    .hero__text{
        font-size: 1.8rem;
        text-align: center;
    }
    .hero{
        text-align: center;
    }
}
@media only screen and (max-width:370px){
    .call__title{
        font-size: 3rem;
    }
    .call__text{
        font-size: 1.8rem;
    }
    .call__phone{
        font-size: 1.8rem;
    }
    .call__btn{
        padding: 1.2rem 2rem;
    }
}




/* RETINA DISPLAY */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .interior {
        background-image: url(../images/png/interior-bg-img.png);
    }
}